html, body, #app, .container {
    height: 100%;
  }

  .preview {
    margin-top: 40px;
  }

  .preview {
    margin-top: 40px;
  }

  .prev, .next {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .prev i, .next i {
    display: block;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }
  img {
    display: block;
    margin: auto;
    border: #E1E1E1;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
  }
  
  .upload {
    margin-top: 30%;
    margin-left: 14%;
  }

  button {
    color: #687DDB;
    padding: 10px 15px;
    border: #e1e1e1;
    background: #fff;
    border-radius: 4px;
  }
  
  body {
    background: #687DDB;
  }

  .pages {
    margin-top: 20px;
    height: 400px;
    overflow: scroll;
  }

  .pages img{
    margin-top: 10px;
    cursor: pointer;
  }
  .img-hover-zoom--quick-zoom img {
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    /* filter: brightness(100%); */
  }
  .img-hover-zoom--quick-zoom:hover img {
    transform: scale(1.2);
  }
  /* .img-hover-zoom--quick-zoom img {
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
  } */

  /* The Transformation */
/* .img-hover-zoom--quick-zoom:hover img {
    transform: scale(2);
  } */
